<div class="navbar">
  <div class="navbar__logo">
    <img src="./../../assets/LaTeX_logo.svg" alt="LaTeX Logo" width="72" height ="30">
  </div>
  <div class="navbar__link" (click)="onClick(class.ARTICLE)" routerLink="/dashboard/article">
    Article
  </div>
  <div class="navbar__link" (click)="onClick(class.SLIDES)" routerLink="/dashboard/slides">
    Slides
  </div>
  <div class="navbar__link" (click)="onClick(class.BEAMER)" routerLink="/dashboard/beamer">
    Beamer
  </div>
  <div class="navbar__link" (click)="onClick(class.BOOK)" routerLink="/dashboard/book">
    Book
  </div>
  <div class="navbar__link" (click)="onClick(class.LETTER)" routerLink="/dashboard/letter">
    Letter
  </div>
  <div class="navbar__link" (click)="onAbout()" routerLink="/about">
    About
  </div>
</div>
