<div class="container__button">
  <img class="button__math" src="./../../assets/product.svg" alt="\prod" height="48" width="48" (click)="insertText('\\prod_{}^{}', 'insert')">
  
  <img class="button__math" src="./../../assets/bold-text.svg" alt="\prod" height="48" width="48" (click)="insertText('**', 'selection')">
    
  <img class="button__math" src="./../../assets/Italic_02.png" alt="\prod" height="48" width="48" (click)="insertText('*', 'selection')">

  <img class="button__math" src="./../../assets/sum_02.png" alt="\prod" height="48" width="48" (click)="insertText('\\sum_{}^{}', 'insert')">

  <img class="button__math" src="./../../assets/subscript.svg" alt="\prod" height="48" width="48" (click)="insertText('_{}', 'insert')">  

  <img class="button__math" src="./../../assets/superscript.svg" alt="\prod" height="48" width="48" (click)="insertText('^{}', 'insert')">    
 
  <img class="button__math" src="./../../assets/int_02.png" alt="\prod" height="48" width="48" (click)="insertText('\\int_{}^{}', 'insert')">

  <img class="button__math" src="./../../assets/mathbbR_02.png" alt="\prod" height="48" width="48" (click)="insertText('\\mathbb{R}', 'insert')">

  <img class="button__math" src="./../../assets/alpha_02.png" alt="\prod" height="48" width="48" (click)="insertText('\\alpha', 'insert')">

  <img class="button__math" src="./../../assets/beta_02.png" alt="\prod" height="48" width="48" (click)="insertText('\\beta', 'insert')">

  <img class="button__math" src="./../../assets/gamma_02.png" alt="\prod" height="48" width="48" (click)="insertText('\\gamma', 'insert')">  
  
  <img class="button__math" src="./../../assets/delta_02.png" alt="\prod" height="48" width="48" (click)="insertText('\\delta', 'insert')">  

  <img class="button__math" src="./../../assets/varepsilon_02.png" alt="\prod" height="48" width="48" (click)="insertText('\\varepsilon', 'insert')">  

  <img class="button__math" src="./../../assets/BigGamma_02.png" alt="\prod" height="48" width="48" (click)="insertText('\\Gamma', 'insert')">  

  <img class="button__math" src="./../../assets/Omega_02.png" alt="\prod" height="48" width="48" (click)="insertText('\\Omega', 'insert')">  

  <img class="button__math" src="./../../assets/le.svg" alt="\prod" height="48" width="48" (click)="insertText('\\le', 'insert')">  

  <img class="button__math" src="./../../assets/leq.svg" alt="\prod" height="48" width="48" (click)="insertText('\\leq', 'insert')">

  <img class="button__math" src="./../../assets/ge.svg" alt="\prod" height="48" width="48" (click)="insertText('\\ge', 'insert')">  

  <img class="button__math" src="./../../assets/geq.svg" alt="\prod" height="48" width="48" (click)="insertText('\\geq', 'insert')">

  <img class="button__math" src="./../../assets/implies.svg" alt="\prod" height="48" width="48" (click)="insertText('\\implies', 'insert')">

  <img class="button__math" src="./../../assets/Longleftarrow.svg" alt="\prod" height="48" width="48" (click)="insertText('\\Longleftarrow', 'insert')">

  <img class="button__math" src="./../../assets/iff.svg" alt="\prod" height="48" width="48" (click)="insertText('\\iff', 'insert')">
  
</div>

