<div class="dashboard">
  <p>
    A simple WYSIWYG (What You See Is What You Get) rich text editor that goes through a LaTeX compiler to generate professional looking articles, slides, presentations and more! Outputs a pdf file. 

    This is similar to LyX (which I just learned about earlier today), but on a much easier, and simpler scale. LyX can be intimidating to start I feel, and something extremely basic and simple, while not as customizable or powerful, can have its own place as an introduction for educators, but also in particular students, especially at the high school level.  
  </p>
  <div class="dashboard__editor">
    <app-left-buttons></app-left-buttons>
    <app-editor></app-editor>
    <app-right-buttons></app-right-buttons>  
  </div>
</div>
